<fas-tabs>
  <fas-tab-panel id="panel1" title="Tab 1" [isActive]="true">
    <p>
      Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu
      tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus
      molestie magna non est bibendum non venenatis nisl tempor. Suspendisse
      dictum feugiat nisl ut dapibus.
    </p>
  </fas-tab-panel>

  <fas-tab-panel id="panel2" title="Tab 2">
    <p>
      Suspendisse dictum feugiat nisl ut dapibus. Vivamus hendrerit arcu sed
      erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est
      bibendum non venenatis nisl tempor. Sed auctor neque eu tellus rhoncus ut
      eleifend nibh porttitor.
    </p>
  </fas-tab-panel>
</fas-tabs>
