@import 'styles/foundation-sites';

@include foundation-example-app;

// Foundation for Angular Sites global styles overrides
:root:root /* Increase specificity to override component styles */ {
  --fas-primary-color: #{map-get($foundation-palette, primary)};
  --fas-primary-color-dark: #{scale-color(
      map-get($foundation-palette, primary),
      $lightness: -14%
    )};
  --fas-secondary-color: #{map-get($foundation-palette, secondary)};
  --fas-success-color: #{map-get($foundation-palette, success)};
  --fas-warning-color: #{map-get($foundation-palette, warning)};
  --fas-alert-color: #{map-get($foundation-palette, alert)};
}

// Foundation for Angular Sites component styles overrides
:root /* Increase specificity to override component styles */ {
  fas-tabs {
    --fas-tab-item-font-size: #{rem-calc(14px)};
  }
}
